body {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 16px;
	background: #fffaf0	;
	margin: 0px 70px 30px 70px;
}

.avatar {
	border-radius: 30px;
}

h1 {
	text-align: center;
	width: 100%;
	margin-top: 55px;
}

h2 {
	text-align: center;
}

.face {
	display: inline-flex;
	margin-top: 20px;
	}

.underface {
	width: 100%;
	margin-left: 40px;
}

a {
	color: black;
	text-decoration: none;
}

a:visited {
	color: grey;
	text-decoration: inherit;
}

a:hover {
	color: black;
	font-weight: bold;
	text-decoration: none;
}

.about {
	background: #a6c6c1;	
	border-radius: 30px;
	padding: 10px 30px;
	margin-top: 20px;
}

.other_info {
	background: #ffe4e1;
	border-radius: 30px;
	padding: 10px 30px;
	text-align:justify;
	margin-top: 20px;
}

.hobbies {
	background: #debfb5;
	border-radius: 30px;
	padding: 10px 20px;
	margin-top: 20px;
}

.list {
	list-style-type: circle;
	padding-left: 30px;
}